/* root code  */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 48px);
}
:root {
  --font-heading: "Sen", sans-serif;
}
a {
  text-decoration: none;
}
.h1-content {
  color: #ffffff;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.46; /* 145.833% */
}
.p-content {
  color: #84817a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.h2-content {
  font-family: var(--font-heading);
  color: #333;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.39; /* 138.889% */
}
.h3-content {
  color: #333;
  font-family: "Lexend", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
.text-right {
  color: #333;
  font-family: "Lexend", sans-serif;
  font-size: 1.9rem;
  font-weight: 450;
  line-height: 1.67;
}
.btn {
  text-align: center;
  width: 180px;
  display: inline-block;
  /* để chỉnh độ rộng  */

  line-height: 56px;
  background-color: #62d0b6;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  border: 1px solid #62d0b6;
}
/* -----------body----------- */

/* ----------header---------- */
.header {
  padding-bottom: 8px;
  height: 94px;
  background: #fff;
}
.header.fixed {
  position: sticky;
  top: -36px;
  z-index: 1;
}
.header .body-header {
  height: 95px;
  padding: 23px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-header .nav ul {
  display: flex;
}
.logo-header {
  width: 160px;
  object-fit: cover;
}
.nav a {
  color: black;
  font-weight: 800px;
  padding: 8px 24px;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
  gap: 10px;
}
.nav .nav-home::after {
  position: absolute;
  bottom: 7px;
  left: 23px;
  content: "";
  display: block;
  border-radius: 1px;
  background-color: black;
  width: 12px;
  height: 2px;
}
.nav .nav-home,
.nav a:hover {
  color: #171100;
  text-align: center;
  text-shadow: 1px 0 0 currentColor;
}
.body-header .icon-header li {
  padding: 0 15px;
}
.body-header .icon-header .icon-h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-header .icon-header .icon-h a:hover {
  opacity: 0.6;
}

/* ----------main---------- */
/* banner  */
.hero .banner-top {
  margin-top: 25px;
  width: 100%;
  height: 558px;
  background: url(../image/banner.jpg);
  background-size: cover;
  background-position: bottom center;
}

.banner-top .content-banner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 136px 0;
}
.content-banner-top .center-banner {
  width: 888px;
  text-align: center;
}
.banner-top .content-banner-top .h1-content {
  margin-bottom: 16px;
}
.banner-top .btn.btn-center-banner {
  margin-top: 30px;
}
.banner-top .btn.btn-center-banner:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
}
.content-banner-top .buttom {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.content-banner-top .buttom:hover {
  opacity: 0.6;
}
.banner-top .content-banner-top .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 163px;
}
.banner-top .dots .dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;

  border: 2px solid #fff;
}
.banner-top .dots .dot.premium {
  width: 37px;
  border-radius: 10px;
  background-color: #62d0b6;
  border: 2px solid #62d0b6;
}
.main-body .first-oder {
  width: 100%;
  height: 123px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}
.main-body .first-oder .first-oder-content {
  width: 32.5%;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: 1px solid #e2dfda;
}
.first-photo-banner .box-photo-banner:hover,
.main-body .first-oder .first-oder-content:hover {
  opacity: 0.8;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transition: 0.2s;
}
.main-body .first-oder-content .content-oder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 34px;
  height: 100%;
  max-width: 100%;
}
.main-body .content-oder img {
  margin-right: 16px;
}
.main-body .content-oder .h3-content {
  margin-bottom: 4px;
}
/* firts photo  */
.main-body .first-photo-banner {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-top: 40px;
}
.first-photo-banner .box-photo-banner {
  width: 50%;
  height: 245px;
  background-image: url(../image/s24u.jpg);
  background-size: cover;
  background-position: right;
  margin-top: 112px;
  cursor: pointer;
}
.first-photo-banner .box-photo-banner.pt2 {
  background-image: url(../image/apple_air.jpg);
  background-position: center;
}
.box-photo-banner .content-photo-banner {
  padding: 54px 0 54px 24px;
  width: 236px;
}
.box-photo-banner .content-photo-banner .p-content.namedv {
  color: #333;
  font-weight: 450;
}
.first-photo-banner .box-photo-banner:hover {
  /* thay đổi độ rộng cao của ảnh  */
  transform: scale(1.1);
  /* áp dụng tất cả các cạnh của vật, nhanh-chậm dần 0.3s */
  transition: all 0.3s ease;
}

/* shopping  */
.n2nd-main .top-n2nd-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin-top: 96px;
}
.n2nd-main .top-n2nd-main .btn_and_text-right {
  display: flex;
  align-items: center;
  padding: 15px 5px 15px 15px;
}
.top-n2nd-main .btn_and_text-right .btn-right {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 7px;
  cursor: pointer;
}
.n2nd-main .top-n2nd-main .btn_and_text-right:hover {
  transform: translateY(-5px) scale(1.1);
  transition: all 0.3s ease;
}
.n2nd-main .store-main {
  display: flex;
  justify-content: space-between;
}
.n2nd-main .store-main .main-item {
  width: 282px;
}
.n2nd-main .store-main .main-item img {
  width: 100%;
}
.store-main .foot_item img {
  width: 50px;
  height: 50px;
}
.store-main .foot_item .add {
  display: flex;
}
.store-main .foot_item .add img {
  width: 16px;
  height: 16px;
}
