/* root code  */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.main-content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100% - 48px);
}
:root {
  --font-heading: "Sen", sans-serif;
}
a {
  text-decoration: none;
}
.h1-content {
  color: #ffffff;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.46; /* 145.833% */
}
.p-content {
  color: #84817a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.h2-content {
  font-family: var(--font-heading);
  color: #333;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.39; /* 138.889% */
}
.h3-content {
  color: #333;
  font-family: "Lexend", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
.text-right {
  color: #333;
  font-family: "Lexend", sans-serif;
  font-size: 1.9rem;
  font-weight: 450;
  line-height: 1.67;
}
.btn {
  text-align: center;
  width: 180px;
  display: inline-block;
  /* để chỉnh độ rộng  */

  line-height: 56px;
  background-color: #62d0b6;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  border: 1px solid #62d0b6;
}
.status {
  color: #62d0b6;
  font-size: 1.4rem;
}
.status.pre {
  color: #f55157;
  font-family: "Lexend", sans-serif;
  font-size: 1.4rem;
}
.giasale {
  font-size: "Lexend", sans-serif;
  color: #f2252c;
  font-size: 1.8rem;
  font-weight: 650;
  line-height: 1.39; /* 138.889% */
}
.giagoc {
  color: #a5a5a5;
  margin-left: 5px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  text-decoration-line: line-through;
}
.tra_gop {
  color: #666;
  padding: 4px 0 9px;
}
.add-text {
  align-items: end;
  margin-right: 0;
  color: #333;
  font-family: "Lexend", sans-serif;
}
.name-dv {
  padding: 5px 0;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
}
.mini-text {
  color: #666;
  line-height: 1.56;
  font-family: "Lexend", sans-serif;
}
.p-content.xemngay {
  font-family: "Lexend", sans-serif;
  color: #ffffffc9;
  text-shadow: 1px 0 0 currentColor;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 10px 0 10px 0;
}
/* -----------body----------- */

/* ----------nav---------- */
.header {
  padding-bottom: 8px;
  height: 94px;
  background: #fff;
}
.header .body-header {
  height: 95px;
  padding: 23px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body-header .nav ul {
  display: flex;
}
.logo-header {
  width: 160px;
  object-fit: cover;
}
.nav a {
  color: black;
  font-weight: 800px;
  padding: 8px 24px;
  text-align: center;
  position: relative;
  font-size: 1.8rem;
  gap: 10px;
}
.nav .nav-home::after {
  position: absolute;
  bottom: 7px;
  left: 23px;
  content: "";
  display: block;
  border-radius: 1px;
  background-color: black;
  width: 12px;
  height: 2px;
}
/* giữ hover thẻ home  */
.nav .nav-home,
/* hover nav  */
.nav a:hover {
  color: #171100;
  text-align: center;
  text-shadow: 1px 0 0 currentColor;
}
.body-header .icon-header li {
  padding: 0 15px;
}
.body-header .icon-header .icon-h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-header .icon-header .icon-h a:hover {
  opacity: 0.6;
}

/* ----------main---------- */
/* banner  */
.hero .full-body {
  margin-top: 25px;
  width: 100%;
  height: 558px;
  background: url(../image/banner.jpg);
  background-size: cover;
  background-position: bottom center;
}

.full-body .content-banner-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 136px 0;
}
.content-banner-top .center-banner {
  width: 888px;
  text-align: center;
}
.full-body .content-banner-top .h1-content {
  margin-bottom: 16px;
}
.full-body .btn.btn-center-banner {
  margin-top: 30px;
  /* áp dụng tất cả các cạnh của vật, nhanh-chậm dần 0.3s */
  transition: all 0.3s ease;
}
/* nút banner chính  */
.full-body .btn.btn-center-banner:hover {
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.4s;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
}
/* nút 2 bên banner chính  */
.content-banner-top .buttom {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4 ease;
}
.content-banner-top .buttom:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.full-body .content-banner-top .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 163px;
}
.full-body .dots .dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;

  border: 2px solid #fff;
}
.full-body .dots .dot.premium {
  width: 37px;
  border-radius: 10px;
  background-color: #62d0b6;
  border: 2px solid #62d0b6;
}
.main-body .first-oder {
  width: 100%;
  height: 123px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}
/* thẻ gồm 3 mục đầu trang 1  */
.main-body .first-oder .first-oder-content {
  width: 32.5%;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: 1px solid #e2dfda;
  transition: all 0.3 ease;
}

.main-body .first-oder .first-oder-content:hover {
  opacity: 0.9;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
}
/* nội dung 3 mục đầu trang 1  */
.main-body .first-oder-content .content-oder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 34px;
  height: 100%;
  max-width: 100%;
}
.main-body .content-oder img {
  margin-right: 16px;
}
.main-body .content-oder .h3-content {
  margin-bottom: 4px;
}
/* firts photo  */
/* xoay ngang 2 ảnh banner lớn trang 1 */
.main-body .first-photo-banner {
  width: 100%;
  display: flex;
  gap: 24px;
  margin-top: 40px;
}

.first-photo-banner .box-photo-banner {
  width: 50%;
  height: 245px;
  background-image: url(../image/s24u.jpg);
  background-size: cover;
  background-position: right;
  margin-top: 112px;
  /* cursor: pointer; */
  /* áp dụng tất cả các cạnh của vật, nhanh-chậm dần 0.3s */
  transition: all 0.3s ease;
}
.first-photo-banner .box-photo-banner.pt2 {
  background-image: url(../image/apple_air.jpg);
  background-position: center;
}
/* thẻ bọc các chữ trong 2 banner  */
.box-photo-banner .content-photo-banner {
  padding: 54px 0 54px 24px;
  width: 236px;
}
/* tên máy trong 2 banner lớn  */
.box-photo-banner .content-photo-banner .p-content.namedv {
  color: #333;
  font-weight: 450;
  padding: 20px 20px 0 0;
}

.first-photo-banner .box-photo-banner:hover .p-content.namedv {
  text-shadow: 1px 0 0 currentColor;
  transition: all 0.3s ease;
}
.first-photo-banner .box-photo-banner:hover {
  /* thay đổi độ rộng cao của ảnh  */
  opacity: 0.9;
  transform: scale(1.08, 1.08);
}

/* shopping  */
/* dòng chữ trên đầu các sp  */
.main-body .top-store-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  margin-top: 96px;
}
/* xoay ngang nút và chữ bên phải  */
.top-store-text .btn_and_text-right {
  display: flex;
  align-items: center;
  padding: 15px 5px 15px 15px;
  transition: all 0.3s ease;
}
/* nút tất cả bên phải  */
.top-store-text .btn_and_text-right .btn-right {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 7px;
  cursor: pointer;
}
.top-store-text .btn_and_text-right:hover {
  transform: translateY(-5px) scale(1.1);
}
/* 2 nút tròn bên phải ( nếu có ) */
.button-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
.c2-btn-right .button-flex .img-btn {
  width: 20px;
  height: 20px;
}
.btn-right {
  background-color: #ffffff;
  background-color: transparent;
  border: 1px solid #e2dfda;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button-flex .btn-right:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
}
/* thẻ bọc toàn bộ các sp  */
.store-main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 0;
}
/* thẻ bọc sản phẩm  */
/* relative thẻ sale off  */
.box-sp {
  position: relative;
  transition: all 0.3s ease;
  width: 282px;
  padding: 16px;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.sale-off-top {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
}
.sale-off-top img {
  width: 90px;
  height: 40px;
}
.text-sale-off {
  color: #f8f8fa;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 5px;
}
/* nội dung thẻ sản phẩm  */
.store-main .main-item .box-photo-store {
  width: 100%;
}
/* ảnh sp  */
.store-main .main-item img {
  width: 100%;
  height: 259px;
  object-fit: cover;
  padding: 20px 5px 5px;
}
/* giá  */
.store-main .main-item .money {
  margin-top: 10px;
}
/* thêm vào giỏ*/
.n3nd-main .sale-box .foot_item,
.store-main .main-item .foot_item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e2dfda;
  padding: 15px 40px;
  margin-top: 16px;
  border-radius: 10px;
  gap: 5px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  /* delay khi hover đối tượng   */
  transition: all 0.3s ease;
}
/* icon store  */
.store-main .main-item .foot_item img {
  width: 16px;
  height: 16px;
  padding: 0px;
}
.store-main .main-item .foot_item {
  padding: 15px;
  display: flex;
  align-items: center;
}

.box-sp.special .main-item img {
  padding: 0;
}
/* chỉnh phần text trả góp góc phải  */
.tragop_text-top {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background: #62d0b6;
  padding: 7px 5px;
  font-size: 1.5rem;
  border-radius: 0 0 0 4px;
}
/* chỉnh riêng box sale đặc biệt  */
.main-sale {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2dfda;
  border-radius: 12px;
  background-color: #ffffff;
}
/* chỉnh sale off riêng cho box sale  */
.sale-off-top.long-sale img {
  width: 128px;
  height: 50px;
}
.text-sale-off.longsale {
  margin: 4px 0 0 1px;
}
.tragop_text-top.longsale {
  border: none;
  color: #62d0b6;
  background-color: transparent;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 30px;
  top: 10px;
}

/* hover sản phẩm 1 vs sp đặc biệt */
.special_boxsp .box-special-content:hover,
.store-main .box-sp:hover {
  opacity: 0.9;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translateY(-10px);
}
.store-main .main-item .foot_item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translateY(-5px) scale(1.1);
  background-color: #62d0b6;
}
/* banner dài 2 */
.main-body .banner_n2 {
  background-image: url(../image/banner-2.png);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin: 56px 0 0 0;
  transition: all 0.3s ease;
}
.main-body .banner_n2:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translateY(-5px) scale(1.1);
}

/* group icon mini 6 cái  */
.main-body .group_mini_photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* chỉnh 6 icon  */
.main-body .group_mini_photo .content-group img {
  width: 135px;
  height: 135px;
  transition: all 0.3s ease;
  border-radius: 50%;
}
/* hover 6 icon  */
.main-body .group_mini_photo .content-group a :hover {
  opacity: 0.9;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translateY(-5px) scale(1.1);
}
/* chữ nhỏ dưới 6 icon  */
.main-body .group_mini_photo .content-group {
  text-align: center;
  margin-top: 16px;
}
/* chữ lớn ngay trên chữ nhỏ  */
.main-body .group_mini_photo .content-group .name-dv {
  padding: 16px 0 4px 0;
}
/* 3 ảnh phía dưới dãy icon nhỏ  */
.new_layout_2 .n3photo {
  display: flex;
  width: 100%;
  height: 230px;
  justify-content: space-between;
  padding: 24px 0;
  margin-top: 65px;
}
/* box a chứa ảnh nền  */
.n3photo .box-photo-3 {
  transition: all 0.3s ease;
  background-position: center;
  background-size: cover;
  width: calc(33.33% - 10px);
  height: 100%;
  background-image: url(../image/tainghe_banner.jpg);
}
.n3photo .box-photo-3.anh2 {
  background-image: url(../image/gamepad.jpg);
}
.n3photo .box-photo-3.anh3 {
  background-image: url(../image/troly.jpg);
}
.n3photo .box-photo-3 .box-text-3 {
  padding: 54px 24px;
  text-align: end;
}
/* chỉnh màu conntent box  */
.n3photo .box-photo-3 .box-text-3 .h2-content.lan2,
.n3photo .box-photo-3 .box-text-3 .p-content.lan2 {
  color: #e2dfda;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.n3photo .box-photo-3:hover {
  transform: translateY(-5px) scale(1.1);
}
/* hover chữ xem ngay  */
.n3photo .box-photo-3 .box-text-3 .p-content.xemngay:hover {
  color: #ffffff;
  transform: translateY(-5px) scale(1.1);
}
/* banner dài thứ 3  */
.main-body .banner_n3 {
  width: 100%;
  height: 300px;
  background-image: url(../image/camera_banner.jpg);
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}
.banner_n3 .content_banner-3 {
  padding: 72px 35px;
}
.banner_n3 .content_banner-3 .h2-content.banner-3 {
  color: #e2dfda;
  width: 500px;
}
.banner_n3 .content_banner-3 .p-content.banner-3 {
  color: #a5a5a5;
}
.main-body .banner_n3:hover {
  transform: translateY(-5px) scale(1.1);
}
.banner_n3 .content_banner-3 .p-content.xemngay {
  width: 15%;
}

.banner_n3 .content_banner-3 .p-content.xemngay:hover {
  /* translate lên trên 5px sang phải 16px (ảnh hưởng bới độ rộng thẻ) ; */
  transform: translateY(-5px) translateX(16px) scale(1.1);
}
/* phần sản phẩm thứ 2  */
/* phần chữ trên sp áp dụng lại của phần trên  */
/* phần sale  */
.n3nd-main .sale_sp {
  display: flex;
  align-items: center;
  gap: 15px;
}
/* thẻ sale  */
.n3nd-main .sale_sp .sale-box {
  width: 50%;
  height: 300px;
  transition: all 0.3s ease;
  position: relative;
}

/* nội dung thẻ sale  */
.n3nd-main .sale_sp .sale-box .text-sale-box {
  padding: 16px;
}
/* đánh giá  */
.n3nd-main .sale_sp .sale-box .rate {
  display: flex;
  align-items: flex-start;
  padding: 6px 5px 7px 0;
}
/* thẻ ảnh sp sale  */
.n3nd-main .sale_sp .sale-box .photo-sale-box img {
  width: 200px;
  object-fit: cover;
  object-position: center;
}
/* ngôi sao  */
.n3nd-main .sale_sp .sale-box .rate img {
  width: 17px;
  height: 17px;
}
/* đánh giá  */
.n3nd-main .sale_sp .sale-box .rate .rating {
  color: #a5a5a5;
  text-align: center;
  margin-right: 6px;
  font-size: 17px;
  border-radius: 8px;
}
/* đếm ngược  */
.n3nd-main .sale_sp .countdown .time .item {
  text-align: center;
  margin-bottom: 16px;
  padding: 14px 0 14px;
}
/* chỉnh để có ô chứa số đếm */
.gio,
.phut,
.giay {
  font-size: xx-large;
  width: 92px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8fa;
  margin: 16px 0 6px;
  font-weight: 600;
}
.n3nd-main .sale_sp .countdown .time {
  display: flex;
  gap: 10px;
  height: 53px;
  align-items: center;
  margin: 20px 0 24px 0;
}
.n3nd-main .sale_sp .foot_item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translateY(-5px) scale(1.1);
  background-color: #62d0b6;
}
/* hover box ngoài cùng thẻ sale  */
.n3nd-main .sale_sp .sale-box:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translate(-15px);
}
/* chỉnh riêng hover sale  */
.n3nd-main .sale_sp .sale-box.sale2:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.119);
  transform: translateX(15px);
}
.text_on_coundown {
  padding: 16px;
}
/* box đặc biệt chứa màu  */
.special_boxsp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;
  margin-top: 106px;
  height: 490px;
}
/* từng thẻ sp trong box  */
.special_boxsp .box-special-content {
  width: 33.33%;
  height: 100%;
  background-color: #fddcdd;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
/* nội dung trong box  */
.special_boxsp .box-special-content .main-box-special {
  padding: 32px 55px;
}
.main-box-special img {
  width: 278px;
  height: 264px;
  padding-bottom: 24px;
}
.special_boxsp .box-special-content .name-dv {
  font-size: 23px;
  font-weight: 600;
}
/* chữ xem ngay  */
.main-box-special .text-special {
  display: block;
  padding: 16px;
  margin-top: 27px;
  text-shadow: 1px 0 0 currentColor;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
/* chỉnh nền các thẻ  */
.special_boxsp .box-special-content.sp2 {
  background-color: #ffefda;
}
.special_boxsp .box-special-content.sp3 {
  background-color: #e0f6f0;
}

.main-box-special a:hover {
  transform: translateY(-5px) scale(1.1);
}
